{% extends 'base.html.twig' %}

{% block title %}List des tâches{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul>
                {% for task in listTask %}
                <li>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-1 fw-bold">{{task.title}}</div>
                                <div class="col-12 col-lg-6">{{task.content}}</div>
                                <div class="col-12 col-lg-2">{{task.createdAt | date('d/m/Y')}}</div>
                                <div class="col-12 col-lg-1">{{task.isDone}}</div>
                                <div class="col-12 col-lg-1"><a href="#"><i class="far fa-edit fa-2x"></i></a></div>
                                <div class="col-12 col-lg-1"><a href="#"><i class="far fa-trash-alt fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}